* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  line-height: 1.5;
}

/* GENERAL */

.container {
  width: 1200px;
  margin: auto;
}

.grey {
  background-color: #f2f4f4;
  padding-top: 30px;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: #2e3333;

  margin-bottom: 30px;
}

h2 {
  font-size: 21px;
  font-weight: 700;
  color: #2e3333;

  margin-bottom: 25px;
}

h3 {
  font-size: 16px;
  color: #2e3333;
  margin-bottom: 10px;
}

/* HEADER */

header {
  height: 60px;
  padding: 10px 0px 5px 0px;

  margin-bottom: 30px;
  border-bottom: solid 1px lightgray;
}

header > img {
  height: 40px;
  margin-left: 50px;
}

/* RESTAURANT */

.restaurant {
  display: flex;
  gap: 60px;
  align-items: center;

  margin-bottom: 30px;
}

.left-bloc {
  flex: 1;

  font-size: 17px;
  font-weight: 400;

  color: #868a99;
}

.right-bloc {
  width: 350px;
}

.right-bloc > img {
  height: 200px;
  border-radius: 5px;
}

/* MAIN */

.main-bloc {
  display: flex;
  gap: 30px;

  /* border: solid 2px blue; */
}

.left-main {
  flex: 1;

  /* border: solid 2px red; */
}

.right-main {
  width: 350px;

  /* border: solid 2px purple; */
}

/* PRODUCTS */

.left-container {
  margin-bottom: 20px;

  display: flex;

  flex-wrap: wrap;
  justify-content: space-between; /* Répartit uniformément les éléments */

  /* border: solid 2px green; Controle du bloc */
}

.meals {
  display: flex;
  flex: 1 1 calc(50% - 10px); /* Chaque div occupe 50% de la largeur disponible moins l'espace */
  max-width: calc(50% - 10px); /* Empêche de dépasser 50% */
  height: 160px;

  margin-bottom: 20px; /* Espacement entre les lignes */

  padding: 15px;
  border-radius: 5px;
  background-color: white;

  cursor: pointer;
}

.meals:hover {
  background: #a1ffce; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #faffd1,
    #a1ffce
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #faffd1,
    #a1ffce
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.meals > img {
  width: 130px;
  height: 130px;
  border-radius: 5px;
  object-fit: cover;
}

.meal-description {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-right: 10px;
}

.meal-description > p {
  font-size: 13px;
  font-weight: 300;
  color: #868a99;
  margin-bottom: 10px;
}

.price {
  font-size: 18px;
  font-weight: 400;
  color: #868a99;

  display: flex;
  align-items: center;
  gap: 15px;
}

.popular {
  color: #ff8000;
  font-size: 14px;
}

/* BASKET */

.basket {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
